*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, "Roboto", "Helvetica Neue", "Droid Sans",
        "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ",
        "Osaka", "MS PGothic", arial, sans-serif;
}

/* ローディングここから */
.op-txt {
    font-size: 28px;
    animation-name: op;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.6s;
    color: #555;
}

.op-txt1{
    animation-delay: 0.1s;
}

.op-txt2{
    animation-delay: 0.2s;
}

.op-txt3{
    animation-delay: 0.3s;
}

.op-txt4{
    animation-delay: 0.4s;
}

.op-txt5{
    animation-delay: 0.5s;
}

.op-txt6{
    animation-delay: 0.6s;
}

@keyframes op {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 50;
}
#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 51;
}
/* ローディングここまで */

body {
    width: 100%;
}

.effect-fade {
    opacity : 0;
    transform : translate(0, 45px);
    transition : all 300ms;
}

.effect-fade.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(images/header-black.jpg);
}

.menu-box{
    position: absolute;
    right: 24px;
}

ul.right {
    text-align: right;
    height: 64px;
}

li {
    display: inline;
    padding: 0 12px;
    line-height: 64px;
}

li a {
    color: #fff;
    text-decoration: none;
}

.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header h1{
    font-size: 7em;
    color: #fff;
}

header h1::after {
    content: '';
    border-right: 2px solid;
    animation: flashing 1s linear infinite;
}

@keyframes flashing {
    0% {
        opacity: 0;
    }
}

.content {
    margin: 64px auto;
    width: 640px;
}

.content h1{
    font-size: 48px;
    /* text-align: center; */
    margin-bottom: 24px;
}

.content h1 span{
    border-left: 10px solid #000;
    padding: 4px 10px;
}

.content p{
    margin: 16px 0;
}

.sns_btn_wrap{
    display: flex;
    justify-content: space-around;
    max-width: 320px;
}

.sns_btn {
    margin-top: 24px;
    color: #fff;
    height: 80px;
    width: 80px;
    position: relative;
    font-size: 50px;
    border-radius: 0.3125em;
    box-shadow: 0 0.1em 0.3125em 0 rgba(0, 0, 0, 0.35);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.sns_btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.35);
}

.sns_btn svg{
    margin: 20px;
    fill: #fff;
}

.btn_twitter{
    background-color: #1da1f2;
}

.btn_facebook{
    background-color: #4267B2;
}

.btn_github{
    background-color: #333;
}

.cp_link {
	padding: 0.1em 0.3em;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(255,152,0,1) 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
	color: #ff9800;
}
.cp_link:hover {
	background-position: -100% 0;
	color: #fff;
}

footer{
    color: #777;
    clear: left;
    padding:36px 0;
    text-align: center;
}

@media screen and (max-width:768px) {

    header{
        background-position: 25% 0;
    }

    .content-wrap{
        padding: 0 40px;
    }

    .content{
        width: calc(100% - 20px);
        padding: 10px;
    }

}

@media screen and (max-width:450px) {

    header h1{
        font-size: 4em;
        color: #fff;
    }

    .content-wrap{
        padding: 0 4px;
    }

    .menu-box{
        left: 0;
        top: 24px;
        width: 100%;
    }

    li {
        font-size: 16px;
        line-height: 24px;
        padding: 0 4px;
    }

    .content h1{
        font-size: 32px;
        /* text-align: center; */
        margin-bottom: 24px;
    }

    .std-image{
        width: 100%;
    }

}